#root {
max-width: 1000px;
  margin: 0 auto;
}

.tasks-table {
  width: 100%;

}
.tasks-table td {
  border: solid 1px grey;
}

.paginator {
  margin: 0 auto;
  justify-content: center;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-gap: 20px;
}

.paginator button {
  background: white;
  /*margin: 10px 5px;*/
  padding: 10px;
  border: #1435AD solid 1px;
  cursor: pointer;
}
.paginator button:hover, .paginator .active {
  background: #1435AD;
  color: white ;
}